In [13]:
import sys
import os
sys.path.append(os.path.abspath('../src'))

In [14]:
from mtbtk.tbva import genes, VCFParser,VariantAnnotator,LineageIdentifier

In [15]:
vcf = VCFParser('R1_ano.vcf')
LI = LineageIdentifier()
LI.get_match_lineage(vcf.SNP)

['lineage4', 'lineage4.9']

In [16]:
VA = VariantAnnotator(vcf.SNP)
print(VA.annotate())

          POS REF ALT     GENE           VARIANT             ANNOTATION  \
0        1849   C   A     dnaN    dnaN_c.-203C>A  upstream_gene_variant
1        1977   A   G     dnaN     dnaN_c.-75A>G  upstream_gene_variant
2        4013   T   C     recF  recF_p.Ile245Thr       missense_variant
3        7362   G   C     gyrA   gyrA_p.Glu21Gln       missense_variant
4        7585   G   C     gyrA   gyrA_p.Ser95Thr       missense_variant
...       ...  ..  ..      ...               ...                    ...
1275  4393590   C   G    mutT4  mutT4_p.Arg48Gly       missense_variant
1276  4397736   C   T   Rv3910  Rv3910_c.1140C>T     synonymous_variant
1277  4407588   T   C      gid      gid_c.615A>G     synonymous_variant
1278  4407927   T   G      gid    gid_p.Glu92Asp       missense_variant
1279  4408923   C   T  Rv3920c  Rv3920c_c.-26G>A  upstream_gene_variant

        IMPACT
0     MODIFIER
1     MODIFIER
2     MODERATE
3     MODERATE
4     MODERATE
...        ...
1275  MODERATE
1276       LOW
1277       LOW
1278  MODERATE
1279  MODIFIER

[1280 rows x 7 columns]

In [7]:
rel_pos = 163705-163366
genes['cyp138']['sequence'][rel_pos:rel_pos+3]

'CCT'

In [8]:
vcf.SNP

          POS REF ALT
0        1849   C   A
1        1977   A   G
2        4013   T   C
3        7362   G   C
4        7585   G   C
...       ...  ..  ..
1281  4393590   C   G
1282  4397736   C   T
1283  4407588   T   C
1284  4407927   T   G
1285  4408923   C   T

[1286 rows x 3 columns]

In [9]:
from Bio import SeqIO
TBG = SeqIO.read('GCA_000195955.2_ASM19595v2_genomic.fna','fasta')

In [12]:
TBG[163704:163704+3]

SeqRecord(seq=Seq('CCT'), id='AL123456.3', name='AL123456.3', description='AL123456.3 Mycobacterium tuberculosis H37Rv complete genome', dbxrefs=[])